html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.badge-success{
    background: #006633;
    color: #fff;
}
.badge-danger{
    background: #990000;
    color: #fff;
}


.border{
    border: 2px solid #222222;
}

.game-table{
    min-height: 200px;
    background: #00a083; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #00a083 0%, #00a083 43%, #006e2e 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#00a083), color-stop(43%,#00a083), color-stop(100%,#006e2e)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #00a083 0%,#00a083 43%,#006e2e 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #00a083 0%,#00a083 43%,#006e2e 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #00a083 0%,#00a083 43%,#006e2e 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #00a083 0%,#00a083 43%,#006e2e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a083', endColorstr='#006e2e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

-webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.38);
-moz-box-shadow:    0px 0px 20px 4px rgba(0,0,0,0.38);
box-shadow:         0px 0px 20px 4px rgba(0,0,0,0.38);

}

.lefter{
    float: left;
}

.p-l-xxs{
    padding-left: 5px !important;
}
.p-l-xxs{
    padding-left: 10px !important;
}
.pad{
    padding: 10px 20px;
}
.p-r{
    padding-right: 10px;
}
.p-t{
    padding-top: 5px;
}

  @media only screen and (min-width: 1280px){
.m-t-b{
    margin-top: 120px !important;
}

  }
  
#msg, #msg-win{
    display:none;
}
#msg-win{
    position: relative;
}
.darkness{
    position: fixed;
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100000;
}
.darkness > .block{
    padding-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    top: 50px;
}

.cancel{
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0,0,0,0.9);
    color: #cccccc;
    padding: 1px 8px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1029;
}

.cancel:hover{
    color: #fff;
    background: black;
    text-decoration: none;
}
table th{
    text-align: center;
}

.bottom{
    position: absolute;
    bottom: 0;
}

.m-lg{
    margin: 20px 0;
}


.text-white{
    color: #fff;
}